/home/paul/Downloader/bin
/home/paul/Downloader/build
/home/paul/Downloader/include
/home/paul/Downloader/lib/python3.10/site-packages
/home/paul/Downloader/lib64
/home/paul/Downloader/over_simplified_downloader.egg-info